html,
body {
    background-color: rgb(245, 245, 245);
}

.container {
    margin: 80px auto 0 auto;
    max-width: 1200px;
}

.nav-container {
    margin: auto;
}

.nav-container svg {
    color: #fff;
}

a {
    text-decoration: none;
}